In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for plotting and visualozing data
import json

In [2]:
with open('train.json') as f:
    data = json.load(f)

In [3]:
col3 = []
col2 = []
col1 = []
for i in data:
    col2.append(i['cuisine'])
    for j in i['ingredients']:
        col3.append(j)

In [4]:
def unique(list1): 
    x = np.array(list1) 
    return np.unique(x)

In [5]:
col3 = unique(col3)
X_train = np.zeros((len(col2),len(col3)))

In [6]:
def find_key_ingredient(c):
    return np.searchsorted(col3,c)

In [7]:
index_i = 0
index_j = 0
for i in data:
    for k in i['ingredients']:
        c = find_key_ingredient(k)
        X_train[index_i][c] = 1; 
    index_i +=1

In [8]:
y_train = np.arange(len(col2))
y_train = np.asarray(col2)

# Decision tree on the data set

In [9]:
from sklearn.tree import DecisionTreeClassifier
clf_entropy = DecisionTreeClassifier(criterion = "gini")
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

# MNB

In [10]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [11]:
with open('test.json') as f1:
    test_data = json.load(f1)

In [12]:
col1_test = []
for i in test_data:
    col1_test.append(i['id'])

In [13]:
X_test = np.zeros((len(col1_test),len(col3)))

In [14]:
index_i = 0
index_j = 0
for i in test_data:
    index_j = 0
    for k in i['ingredients']:
        c = find_key_ingredient(k)
        X_test[index_i][c] = 1
    index_i +=1

# MNB  and DT predict

In [15]:
y_pred_MNB = clf.predict(X_test)
y_pred_DT = clf_entropy.predict(X_test)

In [16]:
final_mat_MNB = np.column_stack((col1_test,y_pred_MNB))
df = pd.DataFrame(final_mat_MNB,columns=['id','cuisine'])
df.to_csv('submission_MNB.csv',index=False)
df.head(10)

      id       cuisine
0  18009   southern_us
1  28583   southern_us
2  41580       italian
3  29752  cajun_creole
4  35687       italian
5  38527   southern_us
6  19666       spanish
7  41217       chinese
8  28753       mexican
9  22659       british

In [17]:
final_mat_DT = np.column_stack((col1_test,y_pred_DT))
df = pd.DataFrame(final_mat_DT,columns=['id','cuisine'])
df.to_csv('submission_DT.csv',index=False)
df.head(10)

      id       cuisine
0  18009       italian
1  28583   southern_us
2  41580       italian
3  29752  cajun_creole
4  35687       italian
5  38527   southern_us
6  19666       italian
7  41217       chinese
8  28753       mexican
9  22659       british